body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s;
}

.hidden {
    display: none;
}

#main-menu, #option1-screen, #option2-screen, #option3-screen, #quiz-screen, #congratulations-screen {
    margin: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}